@inherits LayoutComponentBase

<div class="bg-orange-600 min-h-screen flex">
    <div class="bg-gray-800 flex-1 flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-5 sm:p-6 sm:mt-1 lg:ml-1 sm:rounded-t-xl lg:rounded-tl-xl lg:rounded-layout-reset lg:pl-0 lg:pt-0 lg:pb-0">
        <NavMenu></NavMenu>
        <div class="flex-1 sm:px-0 sm:pt-0 lg:p-6 mx-3 lg:mx-0">
            <TopMenu></TopMenu>
            @Body
        </div>
    </div>
</div>